before_script:
  - export REPOSYS=$PWD

build_cmake:
  tags:
    - cvmfs
  script:
    - cd $REPOSYS
    - source ./scripts/setup.sh
    - mkdir -p build
    - cd build
    - cmake ..
    - make -j 8
    - cd -
    - ls -lh lib/

build_make:
  tags:
    - cvmfs
  script:
    - cd $REPOSYS
    - source ./scripts/setup.sh
    - make print
    - make
    - make shared
    - ls -lh lib/
